<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
    <add name="PMILoads" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=PMILoads;Data Source=seabrook\devsb;Application Name=PMIV2" />
    <add name="PMI" connectionString="Data Source=dbserver1\PMIProd;Initial Catalog=PMI;User ID=PMI_admin;Password=r$Bn847c;TrustServerCertificate=True;Connection Timeout=30;Application Name=ErrorCorrection" />
    <add name="DOGWOOD" connectionString="Data Source=DOGWOOD;User ID=PMI_App;password=AR43dr75;Initial Catalog=Prod1;Application Name=PMIV2" />
  </connectionStrings>
</configuration>